In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from pyDatalog import pyDatalog
from pyDatalog import pyEngine
from ipywidgets import interact_manual
from pyDatalog import pyDatalog
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# load data


plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (10, 5)
dataset = pd.read_csv('dataset.csv')
dataset[:53]

,GPA,INDEX,Q1,Q5,Q10,Q4,Q5.1,Q6,Q7,Q8,Q9,Q10.1,Q11,Q15
0,3.80,EXELLENT,5,5,10,1,1,5,5,1,1,1,1,10
1,3.70,EXELLENT,10,5,5,5,10,1,1,1,1,5,1,10
2,3.69,EXELLENT,10,5,5,5,5,10,1,1,1,5,1,10
3,3.67,EXELLENT,5,5,5,1,10,1,5,1,5,5,1,10
4,3.65,EXELLENT,1,5,1,10,5,1,1,10,1,5,1,10
5,3.65,EXELLENT,5,5,1,5,1,1,5,5,10,5,5,10
6,3.57,EXELLENT,10,5,5,1,10,5,1,1,1,5,1,1
7,3.55,EXELLENT,10,5,5,5,1,1,1,1,5,5,1,10
8,3.53,EXELLENT,1,5,5,5,1,1,5,1,1,1,1,10
9,3.51,EXELLENT,10,5,5,5,1,1,5,5,1,5,1,5
10,3.51,EXELLENT,10,5,5,5,1,1,5,5,1,5,1,5
11,3.44,HIGH,5,1,10,10,1,5,1,10,1,5,5,10
12,3.41,HIGH,1,5,5,5,1,5,1,10,1,5,1,10
13,3.37,HIGH,5,10,10,5,1,5,5,5,1,5,5,10
14,3.37,HIGH,5,10,5,10,5,1,1,1,10,10,10,10
15,3.33,HIGH,10,5,1,10,1,1,1,10,1,1,10,5
16,3.33,HIGH,10,5,5,10,1,5,1,10,1,1,1,10
17,3.32,HIGH,1,5,5,5,5,5,1,5,1,5,1,10
18,3.27,HIGH,1,5,1,10,5,1,10,5,1,5,1,10
19,3.24,HIGH,10,5,5,10,1,1,1,1,1,1,5,5
20,3.12,MIDDLE,5,5,10,1,1,1,1,1,5,5,1,10
21,3.10,MIDDLE,1,5,5,10,1,5,1,1,1,5,1,10
22,3.09,MIDDLE,5,10,5,1,1,1,5,5,1,1,1,1
23,3.00,MIDDLE,1,1,1,1,1,1,10,5,1,10,1,1
24,3.00,MIDDLE,5,5,5,10,1,1,1,10,1,5,5,1
25,2.87,MIDDLE,1,5,1,1,1,5,5,5,1,5,1,10
26,2.73,MIDDLE,5,5,5,5,5,1,5,1,5,5,1,10
27,2.67,MIDDLE,1,10,5,10,1,1,1,5,1,1,5,10
28,2.67,MIDDLE,1,10,5,10,1,1,1,5,1,1,5,10
29,2.60,MIDDLE,10,1,10,5,1,1,1,1,1,5,1,10
30,2.60,MIDDLE,5,5,1,1,1,5,5,10,1,5,10,5
31,2.57,MIDDLE,1,5,5,10,1,10,5,5,1,5,5,5
32,2.53,MIDDLE,5,5,5,10,1,1,1,10,1,5,1,10
33,2.50,MIDDLE,5,5,5,1,5,10,1,10,1,5,1,5
34,2.50,MIDDLE,10,10,5,10,1,5,1,5,1,5,5,10
35,2.41,LOW,1,1,10,10,1,5,5,10,1,5,1,10
36,2.31,LOW,1,5,5,10,5,1,5,10,1,5,1,10
37,2.20,LOW,1,1,5,5,1,1,10,10,10,5,5,5
38,2.20,LOW,5,10,10,5,1,1,5,1,5,5,1,10
39,2.20,LOW,10,5,5,10,1,10,1,10,5,10,1,1
40,2.14,LOW,5,5,1,5,1,1,1,1,5,10,5,10
41,2.10,LOW,5,5,5,10,1,1,5,10,1,1,1,10
42,2.04,LOW,5,5,5,10,5,5,1,5,1,5,1,10
43,2.04,LOW,5,5,5,10,10,1,5,1,5,1,10,10
44,2.00,LOW,1,1,1,5,5,1,1,10,1,5,1,10
45,2.00,LOW,10,10,5,5,1,1,1,1,1,5,1,10
46,1.80,LOW,1,10,5,10,5,5,1,5,5,5,1,10
47,1.57,LOW,10,1,10,5,1,1,5,10,1,5,1,1
48,1.32,LOW,1,5,5,1,1,5,5,5,1,5,5,10
49,1.00,LOW,5,5,1,10,1,5,5,10,1,1,1,10
50,1.00,LOW,10,5,5,10,1,5,1,10,1,5,5,10

In [10]:
# GET_ DUMMIES
dataset1 = loadtxt('dataset1.csv', delimiter=",")
X1=dataset1[:,2:14]
df = pd.DataFrame(X1)
# df.describe()
ndf = pd.concat([pd.get_dummies(df[col], prefix=col) for col in df.columns],axis=1)
ndf.head()

,0_1.0,0_5.0,0_10.0,1_1.0,1_5.0,1_10.0,2_1.0,2_5.0,2_10.0,3_1.0,...,8_10.0,9_1.0,9_5.0,9_10.0,10_1.0,10_5.0,10_10.0,11_1.0,11_5.0,11_10.0
0,0,1,0,0,1,0,0,0,1,1,...,0,1,0,0,1,0,0,0,0,1
1,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
2,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
3,0,1,0,0,1,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,1
4,1,0,0,0,1,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1

In [7]:
# MANUAL INTERACT
from ipywidgets import interact_manual
from pyDatalog import pyDatalog
pyDatalog.create_terms('Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10','Q11','Q12')
d1=[]
a = []
@interact_manual
def get_input(Question1='q1', Q1=[1.0,5.0,10.0], Question2='q2', Q2 =[1.0,5.0,10.0], Question3='q3', Q3=[1.0,5.0,10.0],Question4='q4', Q4=[1.0,5.0,10.0],Question5='q5', Q5=[1.0,5.0,10.0], Question6='q6', Q6=[1.0,5.0,10.0],Question7='q7', Q7=[1.0,5.0,10.0],Question8='q8', Q8=[1.0,5.0,10.0],Question9='q9', Q9=[1.0,5.0,10.0],Question10='q10', Q10=[1.0,5.0,10.0],Question11='q11', Q11=[1.0,5.0,10.0],Question12='q12', Q12=[1.0,5.0,10.0]):
    a=[Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12]
    print(Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12)
    for i in range(len(a)):
        d1.append(a[i]) 
        print(d1)

A Jupyter Widget

In [9]:
print(d1)
d = pd.DataFrame({'51': [d1[0],d1[1],d1[2],d1[3],d1[4],d1[5],d1[6],d1[7],d1[8],d1[9],d1[10],d1[11]], 'b': [1,5,10,1,5,10,1,5,10,1,5,10], 'c': [5,1,5,5,1,5,5,1,5,5,1,5], 'd': [10, 10,1,10, 10,1,10, 10,1,10, 10,1]})
df1=d.transpose()
#print(df1)
#df.columns
#pd.get_dummies(df, prefix=[col])
#pd.get_dummies(df.columns,prefix=col) for col in df.columns:
ndf1 = pd.concat([pd.get_dummies(df1[col], prefix=col) for col in df1.columns], axis = 1)
#print(ndf1)
ndf2= ndf1.iloc[0:1,0:36]
print(ndf2)

[10.0, 10.0, 10.0, 10.0, 10.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
    0_1.0  0_5.0  0_10.0  1_1.0  1_5.0  1_10.0  2_1.0  2_5.0  2_10.0  3_1.0  \
51      0      0       1      0      0       1      0      0       1      0

     ...     8_10.0  9_1.0  9_5.0  9_10.0  10_1.0  10_5.0  10_10.0  11_1.0  \
51   ...          0      1      0       0       1       0        0       1

    11_5.0  11_10.0
51       0        0

[1 rows x 36 columns]

In [5]:
# split data into X and y
dataset = loadtxt('dataset1.csv', delimiter=",")
X = ndf
Y = dataset[:,1]
seed = 7 #If int, random_state is the seed used by the random number generator
test_size = 0.33   # between 0.0 and 1.0 and represent the proportion of the dataset to include in the train split. 
#seed
print("seed - ", seed)
print("Y - ",Y)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=10, random_state=5)

#print('y test - ', y_test)  #nтоже из У и Х
print("X-test - ",X_test)
print('y_test',y_test)
print('X train - ', X_train)#not our X - сам разделил ,взял какую то часть их Х и для них вывел y_train
print("y-train - ", y_train)#our Y

model = XGBClassifier()

print(model)
model.fit(X_train, y_train)
# make predictions for test data
#X_test=[10,5,5,10,1,5,1,10,1,5,5,10]
#ndf = pd.concat([pd.get_dummies(df[col], prefix=col) for col in df.columns],axis=1)
#print(X_test)
#вторая строчка ответ 400

#TEST for ONE INPUT ARRAY
X_test1=ndf2
y_test1 = [1.0];

y_pred1 = model.predict(X_test1)
print('X_test1-',X_test1)
print('y_pred1-',y_pred1)
predictions1 = [round(value) for value in y_pred1]
print('pred_y_test1',predictions1,y_test1)

accuracy1 = accuracy_score(y_test1, predictions1)
print("Accuracy: %.2f%%" % (accuracy1 * 100.0))

#TEST AND CHECK ACCURACY IN GENERAL

y_pred = model.predict(X_test)
print('X_test-',X_test)
print('y_pred-',y_pred)
predictions = [round(value) for value in y_pred]
print('pred_y_test',predictions,y_test)

accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

seed -  7
Y -  [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.]
X-test -      0_1.0  0_5.0  0_10.0  1_1.0  1_5.0  1_10.0  2_1.0  2_5.0  2_10.0  3_1.0  \
33      0      1       0      0      1       0      0      1       0      1
29      0      0       1      1      0       0      0      0       1      0
44      1      0       0      1      0       0      1      0       0      0
19      0      0       1      0      1       0      0      1       0      0
40      0      1       0      0      1       0      1      0       0      0
21      1      0       0      0      1       0      0      1       0      0
6       0      0       1      0      1       0      0      1       0      1
32      0      1       0      0      1       0      0      1       0      0
2       0      0       1      0      1       0      0      1       0      0
3       0      1       0      0      1       0      0      1       0      1

     ...     8_10.0  9_1.0  9_5.0  9_10.0  10_1.0  10_5.0  10_10.0  11_1.0  \
33   ...          0      0      1       0       1       0        0       0
29   ...          0      0      1       0       1       0        0       0
44   ...          0      0      1       0       1       0        0       0
19   ...          0      1      0       0       0       1        0       0
40   ...          0      0      0       1       0       1        0       0
21   ...          0      0      1       0       1       0        0       0
6    ...          0      0      1       0       1       0        0       1
32   ...          0      0      1       0       1       0        0       0
2    ...          0      0      1       0       1       0        0       0
3    ...          0      0      1       0       1       0        0       0

    11_5.0  11_10.0
33       1        0
29       0        1
44       0        1
19       1        0
40       0        1
21       0        1
6        0        0
32       0        1
2        0        1
3        0        1

[10 rows x 36 columns]
y_test [ 0.  0.  1.  0.  1.  0.  0.  0.  0.  0.]
X train -      0_1.0  0_5.0  0_10.0  1_1.0  1_5.0  1_10.0  2_1.0  2_5.0  2_10.0  3_1.0  \
28      1      0       0      0      0       1      0      1       0      0
37      1      0       0      1      0       0      0      1       0      0
4       1      0       0      0      1       0      1      0       0      0
17      1      0       0      0      1       0      0      1       0      0
0       0      1       0      0      1       0      0      0       1      1
24      0      1       0      0      1       0      0      1       0      0
5       0      1       0      0      1       0      1      0       0      0
49      0      0       1      0      0       1      0      0       1      0
50      0      0       1      0      1       0      0      1       0      0
48      1      0       0      0      1       0      0      1       0      1
34      0      0       1      0      0       1      0      1       0      0
31      1      0       0      0      1       0      0      1       0      0
23      1      0       0      1      0       0      1      0       0      1
26      0      1       0      0      1       0      0      1       0      0
10      0      0       1      0      1       0      0      1       0      0
45      0      0       1      0      0       1      0      1       0      0
25      1      0       0      0      1       0      1      0       0      1
18      1      0       0      0      1       0      1      0       0      0
22      0      1       0      0      0       1      0      1       0      1
20      0      1       0      0      1       0      0      0       1      1
43      0      1       0      0      1       0      0      1       0      0
1       0      0       1      0      1       0      0      1       0      0
11      0      1       0      1      0       0      0      0       1      0
13      0      1       0      0      0       1      0      0       1      0
41      0      1       0      0      1       0      0      1       0      0
42      0      1       0      0      1       0      0      1       0      0
15      0      0       1      0      1       0      1      0       0      0
12      1      0       0      0      1       0      0      1       0      0
7       0      0       1      0      1       0      0      1       0      0
46      1      0       0      0      0       1      0      1       0      0
30      0      1       0      0      1       0      1      0       0      1
27      1      0       0      0      0       1      0      1       0      0
39      0      0       1      0      1       0      0      1       0      0
36      1      0       0      0      1       0      0      1       0      0
8       1      0       0      0      1       0      0      1       0      0
9       0      0       1      0      1       0      0      1       0      0
16      0      0       1      0      1       0      0      1       0      0
38      0      1       0      0      0       1      0      0       1      0
47      0      0       1      1      0       0      0      0       1      0
14      0      1       0      0      0       1      0      1       0      0
35      1      0       0      1      0       0      0      0       1      0

     ...     8_10.0  9_1.0  9_5.0  9_10.0  10_1.0  10_5.0  10_10.0  11_1.0  \
28   ...          0      1      0       0       0       1        0       0
37   ...          1      0      1       0       0       1        0       0
4    ...          0      0      1       0       1       0        0       0
17   ...          0      0      1       0       1       0        0       0
0    ...          0      1      0       0       1       0        0       0
24   ...          0      0      1       0       0       1        0       1
5    ...          1      0      1       0       0       1        0       0
49   ...          1      0      0       1       0       0        1       0
50   ...          0      0      1       0       0       1        0       0
48   ...          0      0      1       0       0       1        0       0
34   ...          0      0      1       0       0       1        0       0
31   ...          0      0      1       0       0       1        0       0
23   ...          0      0      0       1       1       0        0       1
26   ...          0      0      1       0       1       0        0       0
10   ...          0      0      1       0       1       0        0       0
45   ...          0      0      1       0       1       0        0       0
25   ...          0      0      1       0       1       0        0       0
18   ...          0      0      1       0       1       0        0       0
22   ...          0      1      0       0       1       0        0       1
20   ...          0      0      1       0       1       0        0       0
43   ...          0      1      0       0       0       0        1       0
1    ...          0      0      1       0       1       0        0       0
11   ...          0      0      1       0       0       1        0       0
13   ...          0      0      1       0       0       1        0       0
41   ...          0      1      0       0       1       0        0       0
42   ...          0      0      1       0       1       0        0       0
15   ...          0      1      0       0       0       0        1       0
12   ...          0      0      1       0       1       0        0       0
7    ...          0      0      1       0       1       0        0       0
46   ...          0      0      1       0       1       0        0       0
30   ...          0      0      1       0       0       0        1       0
27   ...          0      1      0       0       0       1        0       0
39   ...          0      0      0       1       1       0        0       1
36   ...          0      0      1       0       1       0        0       0
8    ...          0      1      0       0       1       0        0       0
9    ...          0      0      1       0       1       0        0       0
16   ...          0      1      0       0       1       0        0       0
38   ...          0      0      1       0       1       0        0       0
47   ...          0      0      1       0       1       0        0       1
14   ...          1      0      0       1       0       0        1       0
35   ...          0      0      1       0       1       0        0       0

    11_5.0  11_10.0
28       0        1
37       1        0
4        0        1
17       0        1
0        0        1
24       0        0
5        0        1
49       0        1
50       0        1
48       0        1
34       0        1
31       1        0
23       0        0
26       0        1
10       1        0
45       0        1
25       0        1
18       0        1
22       0        0
20       0        1
43       0        1
1        0        1
11       0        1
13       0        1
41       0        1
42       0        1
15       1        0
12       0        1
7        0        1
46       0        1
30       1        0
27       0        1
39       0        0
36       0        1
8        0        1
9        1        0
16       0        1
38       0        1
47       0        0
14       0        1
35       0        1

[41 rows x 36 columns]
y-train -  [ 0.  1.  0.  0.  0.  0.  0.  1.  1.  1.  0.  0.  0.  0.  0.  1.  0.  0.
  0.  0.  1.  0.  0.  0.  1.  1.  0.  0.  0.  1.  0.  0.  1.  1.  0.  0.
  0.  1.  1.  0.  1.]
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)
X_test1-     0_1.0  0_5.0  0_10.0  1_1.0  1_5.0  1_10.0  2_1.0  2_5.0  2_10.0  3_1.0  \
51      0      0       1      0      0       1      0      0       1      0

     ...     8_10.0  9_1.0  9_5.0  9_10.0  10_1.0  10_5.0  10_10.0  11_1.0  \
51   ...          1      0      0       1       0       0        1       0

    11_5.0  11_10.0
51       0        1

[1 rows x 36 columns]
y_pred1- [ 1.]
pred_y_test1 [1.0] [1.0]
Accuracy: 100.00%
X_test-     0_1.0  0_5.0  0_10.0  1_1.0  1_5.0  1_10.0  2_1.0  2_5.0  2_10.0  3_1.0  \
33      0      1       0      0      1       0      0      1       0      1
29      0      0       1      1      0       0      0      0       1      0
44      1      0       0      1      0       0      1      0       0      0
19      0      0       1      0      1       0      0      1       0      0
40      0      1       0      0      1       0      1      0       0      0
21      1      0       0      0      1       0      0      1       0      0
6       0      0       1      0      1       0      0      1       0      1
32      0      1       0      0      1       0      0      1       0      0
2       0      0       1      0      1       0      0      1       0      0
3       0      1       0      0      1       0      0      1       0      1

     ...     8_10.0  9_1.0  9_5.0  9_10.0  10_1.0  10_5.0  10_10.0  11_1.0  \
33   ...          0      0      1       0       1       0        0       0
29   ...          0      0      1       0       1       0        0       0
44   ...          0      0      1       0       1       0        0       0
19   ...          0      1      0       0       0       1        0       0
40   ...          0      0      0       1       0       1        0       0
21   ...          0      0      1       0       1       0        0       0
6    ...          0      0      1       0       1       0        0       1
32   ...          0      0      1       0       1       0        0       0
2    ...          0      0      1       0       1       0        0       0
3    ...          0      0      1       0       1       0        0       0

    11_5.0  11_10.0
33       1        0
29       0        1
44       0        1
19       1        0
40       0        1
21       0        1
6        0        0
32       0        1
2        0        1
3        0        1

[10 rows x 36 columns]
y_pred- [ 0.  0.  0.  0.  0.  1.  0.  0.  0.  0.]
pred_y_test [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0] [ 0.  0.  1.  0.  1.  0.  0.  0.  0.  0.]
Accuracy: 70.00%